<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>About Me | Rihaz Raheem</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

  <header><nav>
    <a href="/index">Home</a>
    <a href="/about">About</a>
    <a href="/skills">Skills</a>
    <a href="/experience">Experience</a>
    <a href="/education">Education</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
    </nav></header>

  <main class="container">
        <h1>About Me</h1>
        <p>
           I'm a data professional with experience in analytics, data science, and machine learning. I'm passionate about transforming complex datasets into actionable business insights. My technical foundation is built on an Electronics and Communication Engineering background, complemented by a Master's in Signal Processing. This has given me a robust problem-solving and systems-thinking approach.
        </p>
        <p>
           I specialize in predictive modeling, data cleaning, and visualization using tools like Pandas, Scikit-learn, and TensorFlow. I have extensive experience in machine learning and deep learning, specifically in designing and optimizing Artificial Neural Networks (ANNs) using TensorFlow and Keras.
        </p>
        <p>
          My approach bridges technical excellence with practical business impact. For example, I implemented ML algorithms to create an anomaly detection system for Credit Card Fraud Detection. Prior to my data science role, I achieved 100% target fulfillment across multiple development schemes through data-driven planning
        </p>
        <p>
         I focus on writing clean code and creating data visualizations with Pandas, NumPy, and Matplotlib to derive actionable insights. My commitment also extends to mentoring and delivering training sessions
        </p>
        <a href="static/Rihaz_Raheem_Resume.pdf" class="btn" download>📄 Download Resume</a>
        <a href="static/Rihaz_Raheem_Resume.pdf" class="btn" target="_blank">🔗 View Online</a>

  </main>

  <footer>© 2025 Rihaz Raheem</footer>
</body>
</html>
