<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>About Me | Rihaz Raheem</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

  <header><nav>
    <a href="/index">Home</a>
    <a href="/about">About</a>
    <a href="/skills">Skills</a>
    <a href="/experience">Experience</a>
    <a href="/education">Education</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
    </nav></header>

  <main class="container">
        <h1>About Me</h1>
        <p>
           I’m a results-driven Data Scientist with 4+ years of experience in analytics, machine learning, and data science. I specialize in building end-to-end ML systems — from data preprocessing and feature engineering to model deployment. My technical foundation comes from an Electronics & Communication Engineering background and a Master’s in Signal Processing, which has shaped a strong systems-thinking and problem-solving mindset.         </p>
        <p>
           I work extensively with Python, Pandas, NumPy, Scikit-learn, and TensorFlow, handling everything from data preprocessing and feature engineering to model training and evaluation.
        </p>
        <p>
          My work spans NLP, semantic search, credit card fraud detection, and computer vision, where I’ve built production-grade solutions using TF-IDF, Sentence-BERT (SBERT), FAISS, YOLOv8, and TensorFlow. Notable projects include a semantic search engine for document retrieval, a high-accuracy news classification system, and real-time multi-person detection and tracking.
        </p>
        <p>
         I focus on clean, scalable code, clear model evaluation, and meaningful visualizations using Python, Pandas, NumPy, and Matplotlib. I also enjoy mentoring and delivering hands-on training sessions in data analysis and machine learning.
        <a href="static/Rihaz_Raheem_Resume.pdf" class="btn" download>📄 Download Resume</a>
        <a href="static/Rihaz_Raheem_Resume.pdf" class="btn" target="_blank">🔗 View Online</a>

  </main>

  <footer>© 2025 Rihaz Raheem</footer>
</body>
</html>
