<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Projects | Rihaz Raheem</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
<body>
    <header><nav>
        <a href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/skills">Skills</a>
        <a href="/experience">Experience</a>
        <a href="/education">Education</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav></header>
    <main class="container">
      <h1>Projects</h1>
      <div class="card"><h3>Semantic Search Engine</h3><p>Built a vector-based semantic search system using Sentence-BERT embeddings and FAISS, enabling fast and scalable similarity-based document retrieval.</p></div>
      <div class="card"><h3>AI-Based Person Detection, Tracking & ID Tagging</h3><p>Designed a real-time multi-person detection and tracking system using YOLOv8 and DeepSORT.</p></div>
      <div class="card"><h3>Customer Churn Prediction</h3><p>Developed end-to-end ML pipelines with feature engineering and model evaluation, achieving ROC-AUC of 0.81 and recall of 0.78.</p></div>
      <div class="card"><h3>News Article Classification</h3><p>Implemented text classification using both TF-IDF and SBERT embeddings to compare traditional and modern NLP approaches, achieving 98% accuracy.</p></div>
      <div class="card"><h3>Age & Gender Detection</h3><p>CNN-based facial attribute recognition using TensorFlow & Keras.</p></div>
      <div style="text-align:center; margin-top:2rem;">
          <a href="https://github.com/rihazraheem" target="_blank" class="btn">
                🔗 More Projects on GitHub
          </a>
       </div>
    
    </main>
    <footer>© 2025 Rihaz Raheem</footer>
</body>
</html>