<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Projects | Rihaz Raheem</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
<body>
    <header><nav>
        <a href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/skills">Skills</a>
        <a href="/experience">Experience</a>
        <a href="/education">Education</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav></header>
    <main class="container">
      <h1>Projects</h1>
      <div class="card"><h3>AI-Based Person Detection, Tracking & ID Tagging</h3><p>Real-time multi-person tracking using YOLOv8 and DeepSORT.</p></div>
      <div class="card"><h3>SMS Spam Detection</h3><p>Text classification using TF-IDF and Naive Bayes (95% accuracy).</p></div>
      <div class="card"><h3>Credit Card Fraud Detection</h3><p>Anomaly detection with KNN to minimize false positives.</p></div>
      <div class="card"><h3>Age & Gender Detection</h3><p>CNN-based facial attribute recognition using TensorFlow & Keras.</p></div>
      <div style="text-align:center; margin-top:2rem;">
          <a href="https://github.com/rihazraheem" target="_blank" class="btn">
                🔗 More Projects on GitHub
          </a>
       </div>
    
    </main>
    <footer>© 2025 Rihaz Raheem</footer>
</body>
</html>