<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Skills | Rihaz Raheem</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header><nav>
        <a href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/skills">Skills</a>
        <a href="/experience">Experience</a>
        <a href="/education">Education</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav></header>

<main class="container">
  <h1>Skills</h1>

  <div class="card">
    <h3>Machine Learning & Deep Learning</h3>
    <p>
      Supervised & Unsupervised Learning, Feature Engineering, 
      Model Evaluation, Precision, Recall, F1-score, ROC-AUC,
      Data Leakage Detection & Imbalance Handling, End-to-End ML Pipeline Design
    </p>
  </div>

  <div class="card">
    <h3>NLP, LLMs & Retrieval Systems</h3>
    <p>
      Retrieval-Augmented Generation (RAG), Semantic Search & Hybrid Retrieval (BM25 + Vector)
      Text Classification, SBERT, FAISS, ChromaDB, LlamaIndex,
      TF-IDF & Embedding Optimization, RAGAS (Faithfulness, Context Recall Evaluation)
    </p>
  </div>

  <div class="card">
    <h3>Computer Vision</h3>
    <p>
      YOLOv8, ByteTrack, DeepSORT, OpenCV,
      Object Detection, Multi-Person Tracking,
      Image Classification
    </p>
  </div>

  <div class="card">
    <h3>Programming & Analytics</h3>
    <p>
      Python, SQL (SQLAlchemy), Pandas, NumPy, Matplotlib, Seaborn,
      Exploratory Data Analysis (EDA), TensorFlow, Scikit-learn,
      FastAPI, Streamlit, Git
    </p>
  </div>

  <div class="card">
    <h3>Deployment & Tools</h3>
    <p>
      Flask (Basic APIs), Google Colab, Git, GitHub
    </p>
  </div>
</main>


  <footer>© 2025 Rihaz Raheem</footer>
</body>
</html>
