<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Skills | Rihaz Raheem</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header><nav>
        <a href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/skills">Skills</a>
        <a href="/experience">Experience</a>
        <a href="/education">Education</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav></header>

<main class="container">
  <h1>Skills</h1>

  <div class="card">
    <h3>Machine Learning & Deep Learning</h3>
    <p>
      Supervised & Unsupervised Learning, Feature Engineering, 
      Model Evaluation, ANN, CNN, Transfer Learning (MobileNetV2),
      TensorFlow, Keras, Scikit-learn
    </p>
  </div>

  <div class="card">
    <h3>Natural Language Processing</h3>
    <p>
      Text Classification, Semantic Search, TF-IDF, Sentence-BERT (SBERT),
      Hugging Face Transformers, FAISS, Embedding-based Retrieval
    </p>
  </div>

  <div class="card">
    <h3>Computer Vision</h3>
    <p>
      YOLOv8, OpenCV, Object Detection, Multi-Person Tracking,
      DeepSORT, Image Classification
    </p>
  </div>

  <div class="card">
    <h3>Programming & Analytics</h3>
    <p>
      Python, Pandas, NumPy, Matplotlib, Seaborn,
      Exploratory Data Analysis (EDA), Advanced Excel, SQL
    </p>
  </div>

  <div class="card">
    <h3>Deployment & Tools</h3>
    <p>
      Flask (Basic APIs), Google Colab, Git, GitHub
    </p>
  </div>
</main>


  <footer>© 2025 Rihaz Raheem</footer>
</body>
</html>
