<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Skills | Rihaz Raheem</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header><nav>
        <a href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/skills">Skills</a>
        <a href="/experience">Experience</a>
        <a href="/education">Education</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav></header>

  <main class="container">
    <h1>Skills</h1>
    <h3>Machine Learning & AI</h3>
    <p>TensorFlow, Keras, Scikit-learn, YOLOv8, OpenCV</p>

    <h3>Programming</h3>
    <p>Python, Pandas, NumPy, Matplotlib, Seaborn, Flask</p>

    <h3>Analytics & Tools</h3>
    <p>Exploratory Data Analysis (EDA), Advanced Excel, SQL, Data Cleaning, Model Evaluation</p>
  </main>

  <footer>© 2025 Rihaz Raheem</footer>
</body>
</html>
